@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,300&display=swap');

html {
    font-family: 'Fira Sans', sans-serif !important;
    color: white;
}

.game {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 22, 41);
}

.variable-points-display {
    font-size: 30px;
    font-weight: 500;
    >span {
        color: rgb(113, 201, 241);
    }
}

.loop-speed-display {
    font-size: 16px;
    margin-top: 8px;
    >span {
        color: rgb(113, 201, 241);
    }
}

.memory-display {
    display: flex;
    align-items: center;
    >span {
        background-color: white;
        --stop: 100%;
        --color: white;
        position: relative;
        margin-left: 8px;
        color: inherit;
        padding: 4px 10px;
        border-radius: 4px;
        z-index: 2;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        transition: color .1s ease-in-out;
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
        &::before {
            position: absolute;
            display: block;
            z-index: -1;
            border: 1px solid;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            transition: right .1s ease-in-out, background-color .1s ease-in-out;
            right: calc(100% - var(--stop));
            background-color: var(--color);
            border-radius: inherit;
        }
    }
}

.center-tabs {
    display: flex;
    height: 100%;
    border: 1px solid;
    padding: 16px;
    flex: 1;
    box-sizing: border-box;
    margin-top: 32px;
    border-radius: 8px;
    >div {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    >hr {
        margin: 0 16px;
    }
}

.tab-title {
    font-size: 24px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
}

.shop-container {
    display: flex;
    flex-direction: column;
    .change-buy-quantity {
        margin-left: auto;
        margin-bottom: 16px;
    }
    .shop-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(74, 67, 99);
        padding: 8px 12px;
        border-radius: 4px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.functions-list {
    max-height: 100%;
    flex: 1;
    .function-item {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #2f3129;
        padding: 12px 12px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        .function-wrapper {
            background-color: #272822;
            opacity: 0.75;
            width: 100%;
            padding: 8px 8px;
            box-sizing: border-box;
            >span {
                color: #a6e22e;
            }
        }
        .function-body {
            background-color: #272822;
            display: flex;
            align-items: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 16px;
            padding-left: 32px;
            box-sizing: border-box;
            >* {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            >.function-input {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                width: min-content;
                outline: none;
                background-color: rgba(0, 0, 0, 0.25);
                border: none;
                padding: 2px 8px;
                border-radius: 8px;
                text-align: center;
                opacity: 0.5;
                transition: opacity 0.1s ease-in-out;
                &.v {
                    color: rgb(140, 180, 255);
                }
                &.o {
                    color: rgb(255, 140, 140);
                }
                &:hover, &:focus {
                    opacity: 1;
                }
            }
        }
        .errors-container {
            width: 100%;
            .error-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
            }
            .function-error-item {
                background-color: #742734;
                margin-top: 16px;
                padding: 8px;
                font-size: 14px;
                width: 100%;
                box-sizing: border-box;
                >.function-error-loc {
                    font-weight: 600;
                }
                >.function-error-details {
                    margin-top: 8px;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.functions-compile {
    margin-right: auto;
    background: #99f197;
    font-size: 20px;
    font-weight: 500;
}
